.hidden { display: none !important; }
.inline { display: inline; }

button.link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}

.flex-vertical { display: flex; flex-direction: column; }
.flex-horizontal { display: flex; flex-direction: row; }

.ui { color: rgba(0, 0, 0, 0.60)}
.important { color: black; font-weight: bold; }
