.hidden { display: none !important; }
.inline { display: inline; }

button.link {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}

ul.no-items { list-style: none; margin: 0; padding: 0; }

.flex-vertical { display: flex; flex-direction: column; }
.align-center > * { align-self: center; }
.flex-horizontal { display: flex; flex-direction: row; }
.flex-expand { flex-grow: 1; }

.searchbar > i.fa-search:hover { cursor: pointer; }
.searchbar > input { width: 0; transition: width 0.2s ease-in; }
.searchbar:hover > input,
.searchbar > input:focus { width: 200px !important; }

.dropdown { position: relative; display: inline-block; }
.dropdown-content {
    display: none;
    min-width: 200px;
    position: absolute;
    background-color: #fafafa;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 0.75em;
}
.dropdown:hover .dropdown-content { display: block; }

.page {
    background: white;
    padding: 2em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.22), 1px 1px rgba(0, 0, 0, 0.22) inset;
}

.centered,
div#Main form,
div#Main .form-like {
    max-width: 796px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.ui { color: rgba(0, 0, 0, 0.60)}
.important { color: black; font-weight: bold; }

#Outline {
    flex-direction: row-reverse;
}

.align-right { text-align: right; }

/* Form prettification */
div#Main form,
div#Main .form-like {
    display: flex;
    flex-direction: column;
}

div#Main form > label,
div#Main .form-like > label {
    padding: 0.5em 0 0.5em 0;
}
