body {
    background: #fafafa;
    margin: 0;
    padding: 0;
}

div#Main {}

    div#Main form.post {
        display: inline;
    }

    div#Main div#Overview {
        display: flex;
        flex-direction: column;

        margin: 1em auto 1em auto;
    }
