nav {
    width: 100%;
    background-color: #bf0a30;
    padding: 1.5em 0 1.5em 0;
}

nav h4 {
    font-size: 24pt;
    color: white;
    padding-left: 0.5em;
    margin: 0;
}

nav a,
nav .link {
    color: rgba(255, 255, 255, 0.90) !important;
    font-weight: bold;
    text-decoration: none !important;

    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav a:hover,
nav .link:hover {
    color: white !important;
    transition: color ease 0.1s;
}