div.post {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-content: space-between;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

    .post p {
        margin: 0;
    }

    .post img.profileImage {
        border: 2px solid black;
        margin: 1em 0.5em 1em 1em;
    }

    .post .content {
        flex-grow: 1;
        margin: 1em;
    }

    .post .postName {
        font-size: 11pt;
        font-weight: bold;
    }

    .post .postBody {
        font-size: 14pt;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        text-align: justify;
    }

    .post .postMedia {
        max-height: 15em;
        max-width: 100%;
        padding: 0.5em;
    }

    .post .postTime {
        color: rgba(0, 0, 0, 0.64);
        font-size: 8pt;
    }

.postbox {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#PostTypeSelector {
    align-self: center;
    width: 100%;
}

